<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="flex-container">
        <div class="flexbox-header">
            <div class="logo-box">
                <h1>Logo.</h1>
            </div>
            <div class="button-box">

                <span class="button-content">contact us<span>
    
            </div>
    
        </div>
        <!--<div class="flexbox-content">
            <div class="col-2">
                <ul>
                <li class="list-item">App design</li>
                <li class="list-item">App design</li>
                <li class="list-item">App design</li>
                <li class="list-item">App design</li>
                <li class="list-item">App design</li>
            </ul>
            </div>
            <div class="col-2">
            </div>
        </div>-->
    </div>

        
        <script src="script.js" async defer></script>
    </body>
</html>