/* Common styles */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    height: 160px;
}

.flexbox-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 119.28px;
    height: 32px;
    right: 5%;
    top: 5%;
    border: 2px solid #000;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.button-box:before {
    content: '';
    position: absolute;
    width: 60%;
    border-bottom: 2px solid #fff;
    z-index: 2;
    top: -2px;
    height: 32px;
    border-top: 2px solid #fff;
    background-color: transparent;
}

.button-box:hover:before {
    background-color: black;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: background-color 0.1s ease;
}

.button-box:hover {
    background-color: black;
    color: #fff;
    transition: background-color 0.1s ease;
}

.button-box.clicked {
    background-color: grey;
    color: #fff;
    transition: background-color 0.3s ease;
}

.button-box.clicked:before {
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    transition: background-color 0.2s ease;
}

.button-box.clicked:hover {
    background-color: #4d4c4c;
    transition: background-color 0.2s ease;
}

.button-box.clicked:hover:before {
    background-color: #4d4c4c;
    border-top: 2px solid #4d4c4c;
    border-bottom: 2px solid #4d4c4c;
    transition: background-color 0.2s ease;
}

.button-content {
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
}

.logo-box {
    position: absolute;
    width: 90%;
    max-width: 347px;
    height: 53px;
    left: 5%;
    top: 3%;
    font-style: normal;
    font-weight: 800;
    font-size: 13.8587px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.col-2 {
    flex: 1;
    /* Take up remaining space */
    width: 50%;
    /* Occupy 50% of the flexbox-content width */
}

.col-2 {
    flex: 1;
    /* Take up remaining space */
    width: 50%;
    /* Occupy 50% of the flexbox-content width */
}


/* Responsive styles */

@media (max-width: 768px) {
    .flex-container {
        flex-wrap: wrap;
    }
    .flexbox-header {
        width: 50%;
    }
    .logo-box,
    .button-box {
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
    }
}

@media (max-width: 480px) {
    .flexbox-header {
        width: 100%;
    }
    .button-box {
        position: relative;
        width: 30%;
        top: 3%;
    }
    .logo-box {
        position: relative;
        width: 30%;
        top: 3%;
        margin-right: 25%;
    }
}